
<!DOCTYPE html>

<html>
         
    <head>
   
<link  rel="stylesheet" href="/css/style.css">

    </head>
    <body>
        
        <h1>{{> header}}</h1>
             {{errorMessage}}
             {{> footer}}
    </body>
    <script src="/js/index.js"></script>
</html>