<!DOCTYPE html>

<html>
    <head>
        <link  rel="stylesheet" href="/css/style.css">
    </head>
    <body>
           <h1>{{> header}}</h1>
       This site  was created by Ayomikun Awoyle. it uses data from mapbox.com and Weatherstack.com
        <p>{{name}}</p>

         {{> footer}}
    </body>
</html>