<!DOCTYPE html>

<html>
    <head>
        <link  rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        
           <h1>{{> header}}</h1>
        <p>created by{{created}}</p>

         {{> footer}}
    </body>
</html>